        .botones {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
        }
        .botones button {
            padding: 15px;
            width: 100px;
            font-size: 16px;
        }

        .formulario {
            display: grid;
            grid-template-columns: repeat(3, 200px);
            gap: 15px;
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
        }

        input, select {
            width: 180px;
            padding: 5px;
        }